# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\JulianDavid\Desktop\Andes\Semestre VIII\Procesos ágiles de desarrollo de software\Proyecto 1\ProductosOrganicos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
